<div class="article-create-container">
    <button mat-icon-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

  <div class="article">
    <form (ngSubmit)="createPost()" class="article-form">
      <h1>Créer un nouvel article</h1>

        <mat-form-field appearance="outline">
          <mat-label>Sélectionner un thème</mat-label>
          <mat-select [(value)]="selectedTopicId">
            <mat-option *ngFor="let topic of topics" [value]="topic.id">{{ topic.title }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Titre de l'article</mat-label>
          <input matInput [(ngModel)]="title" name="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contenu de l'article</mat-label>
          <textarea matInput [(ngModel)]="content" name="content" class="content"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Créer</button>
    </form>
  </div>
</div>
