@use 'variables' as vars;

.login-page {
    display: flex;
    flex-direction: column;

    .back-btn {
        order: 1;
        align-self: flex-start;
        margin: 1rem 1.5rem 0;
    }
}

.login-header {
    order: 2;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: none;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 200px;
        height: auto;
        display: block;
    }
}

.login-container {
    order: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 2rem 1.5rem;

    h1 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        button[type="submit"] {
            align-self: center;
            width: auto;
            padding: 0 2rem;
        }
    }
}

@media (min-width: (vars.$breakpoint-mobile + 1)) {
    .login-page .back-btn {
        order: 2;
    }
    .login-header {
        order: 1;
        border-bottom: 1px solid var(--mat-sys-outline-variant);
        flex-direction: row;
        align-items: center;

        .logo {
            width: 80px;
            height: auto;
            display: block;
        }
    }
    .login-container {
        order: 3;
    }
}