.header-toolbar {
  display: flex;
  justify-content: space-between;

  .spacer {
    flex: 1 1 auto;
  }

  .desktop-nav {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .menu-button {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .logo {
    font-weight: bold;
    width: 70px;
    margin-left: 10px;
  }

  .logout {
    color: red;
  }
}