:host .form-container {
  max-width: 400px;
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

:host .full-width {
  width: 100%;
  margin-bottom: 16px;
}

:host .submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 1rem;
}

/* Responsive : ajustements possibles */
@media (max-width: 600px) {
  :host .form-container {
    margin: 20px auto;
  }
}