<div class="top-header">
    <button mat-icon-button class="back-button" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    </button>
</div>

<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Se connecter</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="usernameOrEmail" class="custom-label">E-mail ou nom d'utilisateur</label>
        <input id="usernameOrEmail" type="text" formControlName="usernameOrEmail" class="custom-input" />
    </div>

    <div class="form-group">
        <label for="password" class="custom-label">Mot de passe</label>
        <input id="password" type="password" formControlName="password" class="custom-input" />
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading" >
        Se connecter
    </button>

      <mat-progress-spinner
        *ngIf="loading"
        diameter="24"
        mode="indeterminate">
      </mat-progress-spinner>

      <p class="error" *ngIf="error">{{ error }}</p>
    </form>
  </mat-card>
</div>
