/* ========= Styles généraux (desktop par défaut) ========= */



/* Wrapper du formulaire - centré */
.auth-container {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 1.25rem;
  box-shadow: none;
}

.auth-card h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* FORM */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ===== CHAMPS CUSTOM ===== */

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom:none;  
  font-size: 14px;
}

.custom-input {
  width: 100%;
  height: 42px;
  border: 1px solid #aaa !important;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  background: white;
}

.custom-input:focus {
  border-color: #6C5CCF;
  box-shadow: 0 0 0 2px rgba(108,92,207,0.15);
}

form button[type="submit"] {
  width: auto;
  height: auto;
  align-self: center;
  padding: auto;
}

  .top-header {
    display: flex;
    flex-direction: column;
  }

/* --- MOBILE --- */
@media (max-width: 600px) {

  /* bouton retour très haut */
  .back-button {
    display: none;
    // background: white;
    // border-radius: 50%;
    // padding: 6px;
  }

  .main-header {
    width: 100%;
    border-bottom: none;
  }

  .top-header {
    flex-direction: column-reverse;
  }

}
