<mat-toolbar class="navbar">
  <!-- Logo à gauche -->
  <a class="navbar-logo" routerLink="/">
    <img src="/assets/logo_p6.png" alt="MDD Logo" class="logo" />
  </a>

  <span class="spacer"></span>

  <!-- Actions à droite (mais que si connecté) -->
  <ng-container *ngIf="isLogged$ | async">
    <button mat-stroked-button class="logout-btn" (click)="logout()">
      <span class="btn-label">Se déconnecter</span>
    </button>
    <button mat-stroked-button class="nav-link-btn" routerLink="/" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact: true}" matTooltip="Voir les articles">
      <span class="btn-label">Articles</span>
    </button>
    <button mat-stroked-button class="nav-link-btn" routerLink="/themes" routerLinkActive="active-nav" matTooltip="Voir les thèmes">
      <span class="btn-label">Thèmes</span>
    </button>
    <button mat-icon-button class="nav-icon-btn" routerLink="/profile" routerLinkActive="active-nav">
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
